<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <title>Inicio</title>

    </head>
    <body>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign up</a>
        </li>
      </ul>

      <div id="texto">
        <img src="/images/logo.png" id="logo">
        <h1>Codevs</h1>
        <p>- changing the way of working together </p>
      </div>
      
    </body>
</html>