
/*
Al cuerpo de la
pagina se aplica el tamaño de fuente
 */
body, html{
    height: 100%;
}

 body{
    font-size: 12px;
    background-image: url("/images/imagroja.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/**
 * se aplica el ancho, margen centrado
 * borde de un pixel con redondeado, y rellenado
 * a la izquierda y derecha
 */
#Contenedor{
	width: 400px;
	margin: 100px auto;
    background-color: rgba(209, 188, 188, 0.9);
    box-shadow:  rgba(0,0,0,0.5) 8px 8px 8px ;
	height: 400px;
	border-radius:8px;
    padding: 1rem 3rem 0 3rem;
    
}

/**
 * Aplicando al icono de usuario el color de fondo,
 * rellenado de 20px y un redondeado de 120px en forma
 * de un circulo
 */
.Icon span{
      background: rgb(219, 214, 214);
      padding: 20px;
      border-radius: 120px;
}
/**
 * Se aplica al contenedor madre un margen de tamaño 10px hacia la cabecera y pie,
 * color de fuente blanco,un tamaño de fuente 50px y texto centrado.
 */
.Icon{
     margin-top: 10px;
     margin-bottom:10px; 
     color: #FFF;
     font-size: 50px;
     text-align: center;
}
/**
 * Se aplica al contenedor donde muestra en el pie
 * la opción de olvidaste tu contraseña?
 */
.opcioncontra{
    text-align: center;
     margin-top: 20px;
    font-size: 15px;
   
 
}
.contras{
    color: rgb(54, 54, 54);
}

.contras:hover{
    text-decoration: none;
}

