<div class="container-fluid header">
    <div class="row">
        <div class="col-3" style="padding-top:2px;">
            <img src="/images/logo.png" class="logo">
        </div>
        <div class="col-6 name">
            <h1 id="header">Oscar Alejandro Sierra Valdez</h1>
        </div>
        <div class="col-2"></div>
        <div class="col-1 dropdown" style="padding:0px !important">
            <a class="nav-item nav-link " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                <img src="/images/headerMenu.png" class="logo">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <a class="dropdown-item" href="/menu">Projects</a>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
    </div>
</div>

<style>
    .header{
        color: white;
        background-image: url("/images/darkgray.jpg");
        margin-bottom: 2.5rem;
    }
    .name{
        background-color: rgba(255,255,255,0.4);
        border-radius: 0px 0px 20px 20px;
        text-align:center;
        padding-top:.4rem;
    }
    .logo{
        top: .3rem;
        left: .3rem;
        width: 2rem;
        margin:5px;
    }   
    #header{
        padding:5px;
        color:white;
        font-family: 'Open Sans', sans-serif;
        margin: 0px !important;
        font-size: 1.3rem;
    }
    #header:hover{
        color:lightgray;
    }
    a.nav-item{
        padding:0px !important;
    }

</style>